<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/public/main.css" />
    <link rel="stylesheet" href="/public/board_color.css">
    <title>자유게시판</title>
   
    <script>
 
    </script>
  </head>
  <body><nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">자유게시판</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" id="active">
        <li class="nav-item">
          <a class="nav-link" id="mypage" href="/mypage"
            >마이페이지 <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/write" id="write">글쓰기</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/list" id="list">게시물</a>
        </li>
        <%if (user) { %>
        <li class="nav-item">
          <a class="nav-link" id="logout" style="cursor: pointer">로그아웃</a>
        </li>
        <%} else {%>
          <li class="nav-item">
            <a href="/login" class="nav-link" id="login" style="cursor: pointer">로그인</a>
          </li>
          <% } %>
      </ul>
    </div>
  </nav>
  
    <div class="container mt-3">
      <ol class="breadcrumb justify-content-center">
        <li
          class="breadcrumb-item active"
          aria-current="page"
          id="pnum"
          data-num="<%=view.pnum%>"
        >
          자유게시판
        </li>
      </ol>
    </div>

    <form id="search">
    <div class="container input-group mt-5 mb-5">
        <input type="text" class="form-control" id="search-input" />
        <button
          type="submit"
          class="input-group-append btn btn-danger"
          
        > 검색
        </button>
      </form>
    </div>
    <table class="table" style="width: 80%; margin: auto;">
      <thead>
        <tr>
          <th scope="col" class="text-center">번호</th>
          <th scope="col" class="text-center">제목</th>
          <th scope="col" class="text-center">글쓴이</th>
          <th scope="col" class="text-center">작성일</th>
          <th scope="col" class="text-center">조회수</th>
        </tr>
      </thead>
      <tbody>
        <%let startNum = parseInt(view.offset) || 0 %>
        <%let pageView = parseInt(view.max) || 8 %>
        <%let listView = posts.slice(startNum,startNum+pageView)%>
        <% for (let i = 0; i < listView.length; i++) { %>
        <tr>
          <td style="width: 10%" class="text-center"><%= posts.length -i - startNum %></td>
          <td style="width: 40%"><a class="subject" id="click_subject" data-id="<%= listView[i]._id %>"><%= listView[i].제목 %></a></td>
          <td style="width: 10%" class="text-center"><%= listView[i].작성자 %></td>
          <td style="width: 20%" class="text-center"><%= listView[i].작성일 %></td>
          <td style="width: 10%" class="text-center"><%= listView[i].조회수 %></td>
        </tr>
        <% } %>
      </tbody>
    </table>


    <% let pageNums = Math.ceil(posts.length / pageView) %>
    <div class="container mt-5">
			<div class="row">
				<div class="col">
					<ul class="pagination justify-content-center">
						<li class="page-item previous" role="button"><a class="page-link">Previous</a></li>
            <% for (let i = 0; i < pageNums; i++) { %>
						<li class="page-item page_num" role="button" data-number="<%= i %>"><a class="page-link" ><%= i+1 %></a></li>
            <% } %>
						<li class="page-item next" role="button"><a class="page-link">Next</a></li>
					</ul>
				</div>
			</div>
		</div>
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
      crossorigin="anonymous"
    ></script>
  </body>
  <script type="text/javascript">
 
    document.querySelector('#search').addEventListener('submit', (e) => {
      e.preventDefault();
      const inputVal = document.querySelector('#search-input').value;
      window.location.href = '/search?value=' + inputVal
    });
    
    const clickSubject =  document.querySelectorAll('#click_subject')
    clickSubject.forEach((item) => item.addEventListener('click' ,e => {
      const id = e.target.dataset.id
      console.log(id)
      
      location.href = '/detail/' + id
    }))

    
    const pageNum = document.querySelectorAll('.page_num')
    let count = document.querySelector('#pnum').dataset.num || 0
    let pageView = 8
    pageNum[count].classList.add('active')


    document.querySelector('.previous').addEventListener('click', () => {
      pageNum.forEach(item => item.classList.remove('active'))
      count--
      if(count < 0) {
        count = pageNum.length - 1
      }
      pageNum[count].classList.add('active')
      location.href = `/list?offset=${pageView * count}&max=${pageView}&pnum=${count}`
    })

    document.querySelector('.next').addEventListener('click', () => {
      pageNum.forEach(item => item.classList.remove('active'))
      count++
      if(count >= pageNum.length) {
        count = 0
      }
      pageNum[count].classList.add('active')
      location.href = `/list?offset=${pageView * count}&max=${pageView}&pnum=${count}`
    })


  function pageNumClick(e) {
    pageNum.forEach(item => item.classList.remove('active'))
    const nowClick = e.currentTarget.dataset.number
    count = nowClick
    pageNum[count].classList.add('active')
    location.href = `/list?offset=${pageView * count}&max=${pageView}&pnum=${count}`

  }


  pageNum.forEach(item => item.addEventListener('click',pageNumClick))
    document.querySelector('#list').classList.add('active');

    const logout = document.querySelector('#logout');
  logout.addEventListener('click', e => {
    if (confirm('로그아웃 하시겠습니까?')) {
      e.target.setAttribute('href', '/logout');
      document.cookie =
        connect.sid + '=; expires=Thu, 01 Jan 1999 00:00:10 GMT;';
    }
  });
  </script>
</html>
